/*OVERALL*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

/* TITLE */
.header{
    text-align: center;
}
.p{
    justify-content: flex-end;
}

/*CONTENT*/

.Submit{
    margin-top: 2em;
    text-align: center;
}

/* FOOTER */
.createdBy{
    margin-top: 2em;
    text-align: center;
    font-style: italic;
    color: #A6A6A6;
}